<div *ngIf="product">
    <form action="" method="POST" role="form">
        <legend>Edit Product</legend>

        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="product.data.name">
        </div>
        <div class="form-group">
            <label for="">Category</label>
            <!-- <input type="text" class="form-control" name="category" [(ngModel)]="product.data.category"> -->
            <select name="category" [(ngModel)]="product.data.category"  class="form-control" >
                <option *ngFor="let item of categories" [value]="item">{{item}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Price</label>
            <input type="number" class="form-control" name="price" [(ngModel)]="product.data.price">
        </div>
        <button type="button" class="btn btn-default" (click)="saveChanges()">Save</button>
        <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
    </form>
</div>